@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    @apply bg-pink;
}

.bg-hamburger {
    background-image: url("/images/hamburger.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top right;
}

.rounded-extra {
    border-radius: 100%;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

input:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

.react-modal-sheet-container {
    height: min-content !important;
}

.react-modal-sheet-drag-indicator {
    background-color: red !important;
    width: 40px !important;
}

.bottom-line {
    position: relative;
}


.bottom-line:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 25px;
    @apply bg-red
}
/*.top-rounded {*/
/*    position: relative;*/
/*    overflow-x: hidden;*/
/*}*/

/*.top-rounded:before {*/
/*    content: "";*/
/*    width: 200%;*/
/*    height: 200px;*/
/*    background: blue;*/
/*    position: absolute;*/
/*    !*left: -100%;*!*/
/*    left: -50%;*/
/*    top: 0;*/
/*    !*transform: translateX(50%);*!*/
/*    transform: translateY(-20px);*/
/*    border-radius: 100%;*/
/*}*/